# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b5da8379dbf7b513fd928edad716e05ad1a8a768aa0caf9a653246e4b42ed8b5915f43e169ef4a25ec3e1ccfb527194b34eb3f1a0eb0fa9c97d64782996dc153

test:
  secret_key_base: e78147b0dcf9e0a8038c00592d55b1e064255fc6c3134a2947715aac48787a86d353c24875e020176988bac5ebab67790d3a471ce581fedd3854c75f21bad269

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
